* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
:root {
    --green: rgb(26, 233, 26);
    --white: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
}
.logo {
    width: 60px;
    cursor: pointer;
}
header {
    background-color: var(--green);
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 1em;
    color: black;
    font-size: 1.5em;
}
.nav-list li:hover{
    color: var(--white);
    border-bottom: 4px solid var(--white);
}
.fa-house {
    font-size: 0.7em;
}
.fa-user {
    font-size: 0.7em;
}
.fa-message {
    font-size: 0.7em;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
    color: black;
    font-size: 1.3em;
}
button:hover {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid #fff;
}
.fa-bars {
    font-size: 1.6em;
    display: none !important;
}
.second-nav-list {
    position: absolute;
    border: 2px solid var(--green);
    width: 530px;
    top: 10px;
    left: 70px;
    padding: 10px;
    line-height: 30px;
    background-color: var(--white);
    border-radius: 10px;
    display: none;
    z-index: 2;
}
.fa-xmark {
    font-size: 1.8em;
}
.right-list1 button {
    padding: 5px 15px;
    background-color: var(--green);
    color: var(--white);
}
.right-list1 button:hover {
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
}
.hero-cards {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    gap: 1em;
}
.pic-card {
    border: 2px solid var(--green);
    border-radius: 10px;
    text-align: center;
}
.pic-card p {
    margin-top: 10px;
    font-size: 1.2em;
}
.pic-card img {
    border-radius: 10px;
}
.fa-star {
    font-size: 1.5em;
    color: yellow;
}
.fa-heart {
    font-size: 1.5em;
    color: red;
}












/* media query */

@media(max-width:665px) {
    .nav-list {
        display: none;
    }

    .right-list {
        display: none;
    }

    .fa-bars {
        display: block !important;
    }
}

@media(max-width:634px) {
    .second-nav-list {
        width: 495px;
    }
}

@media(max-width:587px) {
    .second-nav-list {
        width: 480px;
        left: 60px;
    }
}

@media(max-width:560px) {
    .second-nav-list {
        width: 435px;
        left: 60px;
    }
}

@media(max-width:500px) {
    .second-nav-list {
        width: 385px;
        left: 55px;
    }
}

@media(max-width:458px) {
    .second-nav-list {
        width: 360px;
        left: 50px;
    }
}

@media(max-width:419px) {
    .second-nav-list {
        width: 325px;
        left: 45px;
    }
}

@media(max-width:378px) {
    .second-nav-list {
        width: 295px;
        left: 40px;
    }
}

@media(max-width:343px) {
    .second-nav-list {
        width: 270px;
        left: 35px;
    }
}